header {
    display: flex;
    justify-content: space-between; 
    padding: 0px 120px
}

header,
.title {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 16px;
}

ul,
h4,
button,
.action {
    color: #f9faf8;
}

h4 {
    font-weight: normal;
}

button {
    background-color: #3882F6;
    border: 1;
    border-radius: 5px;
    padding: 5px 24px;   
    border-color: #E5E7EB;
    border-style:groove;
    height: 30px;
    align-self: center;
    flex-shrink: 0;
}

.rectangle-button {
    background-color: #3882F6;
    border: 0;
}

.logo {
    width: 120px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 120px 120px;
}

.title img {
    width: 400px;
    object-fit: contain;
}

.title-text {
    padding-right: 48px;
    flex-grow: 1;
    max-width: 500px;
}

.square-images {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.square-images img{
    width: 150px;
    padding: 16px;
    border-radius: 25px;
}

.square-images p {
    width: 150px;
}


h2 {
    text-align: center;
}

h2,
.quote-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.quote {
    background-color: #E5E7EB;
    font-style: italic;
}

.quote .quote-text {
    font-weight: lighter;
    padding: 100px 200px 0px 200px;
    margin: 0;
}

.attribution {
    text-align: right;
    padding: 15px 200px 100px 100px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.action {
    background-color: #3882F6;
    padding: 15px 80px;
    margin: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


